<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title><%= title %></title>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
		<script src="/js/iquery.js"></script>
		<script src="/js/bootstrap.js"></script>
		<style>
			.col-md-3{
				
				padding: 3px;
			}
			.col-md-9{
				padding: 5px;
			}
		</style>
	</head>
	<body>
		<blockquote>
			<h1><%= title %></h1>
			<p>科幻迷推荐</p>
		</blockquote>
		<hr>
			
		</hr>
		
